.navigation-header {
  margin-top: 110px;
  padding-top: 10px;
}

.main-header-wrapper {
  flex-direction: column;
  width: 100%;
  min-width: 1024px;
  display: flex;
  align-items: center;
  background-color: #fff;
  z-index: 999;
  position: fixed;
  top: 0px;
  right: 0;
  left: 0;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 7%);
  transition: transform 280ms ease;
  height: 110px;
}

.main-header-wrapper .header-top {
  width: 100%;
  display: flex;
  height: 32px;
  z-index: 3;
  background-color: #f3f4f5;
  border-bottom: 1px solid #f3f3f3;
  padding: 0 32px;
  position: fixed;
  -webkit-box-pack: justify;
  justify-content: space-between;
  left: 0px;
  right: 0px;
}

.download-app-link {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  min-width: 168px;
  margin-right: 16px;
}

.download-app-text {
  color: rgba(49, 53, 59, 0.68);
  font-size: 12px;
  line-height: 31px;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  -webkit-box-align: center;
  align-items: center;
  transition: color 200ms ease;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}

.download-app-text:hover {
  color: #03ac0e;
}

.download-app-link .app-icon {
  width: 20px;
  height: 20px;
  background-image: url(https://assets.tokopedia.net/assets-tokopedia-lite/v2/zeus/kratos/413cd754.svg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 60% 60%;
  display: inline-block;
}

.app-information {
  display: flex;
  margin: 0;
  justify-content: space-around;
  width: 533px;
}

.app-information .app-info-item {
  color: rgba(49, 53, 59, 0.68);
  font-size: 12px;
  line-height: 31px;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  align-items: center;
  transition: color 200ms ease;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}

.app-info-item:hover {
  color: #03ac0e;
}

.main-header-wrapper .header-body {
  width: 96%;
  left: 32px;
  display: flex;
  height: 56px;
  top: 30px;
  position: fixed;
  -webkit-box-align: center;
  align-items: center;
}

.header-body .header-body-icon {
  width: 145px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 4px 0 0 4px;
  flex-shrink: 0;
}

.header-body .img {
}

.btn-header-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 1px 8px 0 10px;
}

.btn-header-wrapper .btn-header-category {
  width: 100%;
  border-radius: 4px;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  transition: background-color 280ms ease;
  padding: 8px;
  height: 110px;
}

.btn-header-category .btn-text {
  font-size: 12px;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: color 280ms ease;
  height: 30px;
  width: 58px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  display: flex;
  -webkit-font-smoothing: antialiased;
}

.searchbox-header-wrapper {
    position: relative;
    width: 49%;
    min-width: 150px;
}

.searchbox-header-wrapper .searchbox-wrapper {
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}

.searchbox-header-wrapper .searchbox-wrapper > div {
    width: 100%;
    margin: 0;
}

.searchbox-header-wrapper .searchbox-wrapper .layer-1 .layer-2 {
    height: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
}

.layer-3 { 
    border-radius: 8px;
    -webkit-box-flex: inherit;
    flex-grow: inherit;
    overflow: hidden;
    transition: border-color 280ms ease;
    width: 100%;
    background-color: var(--color-page-background,#FFFFFF);
    flex-direction: row;
}